<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/head') %>
    <title>Library</title>
</head>
<body>
    <nav class="teal">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo center">Library</a>
        </div>
    </nav>
    <div class="container">
        <div class="center-align" style="margin-top: 40px">
            <a href="/books" class="btn">Go to Books page</a>
        </div>
    </div>
</body>
</html>